@using DAISIS.Models
@model DAISIS.Models.Games
@{
    IEnumerable<Publishers> publishers = ViewBag.Publishers;
    IEnumerable<Designers> designers = ViewBag.Designers;
}
<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    </div>
    <div class="col-md-10 mx-auto">
        <h2>Nová hra</h2>
        @using (Html.BeginForm("Create", "Games", FormMethod.Post, new {Enctype = "multipart/form-data"}))
        {
            <div class="form-group required">
                @Html.LabelFor(m => m.name, new {Class = "control-label"})
                @Html.TextBoxFor(m => m.name, new {Class = "form-control"})
                @Html.ValidationMessageFor(m => m.name, "", new {@class = "text-danger"})
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 required">
                    @Html.LabelFor(m => m.designerID, new {Class = "control-label"})
                    @Html.DropDownListFor(m => m.designerID, Designers.GetSelectList(designers), "Prosím vyberte", new {Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.designerID, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6 required">
                    @Html.LabelFor(m => m.publisherID, new {Class = "control-label"})
                    @Html.DropDownListFor(m => m.publisherID, Publishers.GetSelectList(publishers), "Prosím vyberte", new {Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.publisherID, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 required">
                    @Html.LabelFor(m => m.min_player_count, new {Class = "control-label"})
                    @Html.TextBoxFor(m => m.min_player_count, new {Type = "number", Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.min_player_count, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-3 required">
                    @Html.LabelFor(m => m.max_player_count, new {Class = "control-label"})
                    @Html.TextBoxFor(m => m.max_player_count, new {Type = "number", Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.max_player_count, "", new {@class = "text-danger"})

                </div>
                <div class="form-group col-md-3 required">
                    @Html.LabelFor(m => m.min_game_time, new {Class = "control-label"})
                    @Html.TextBoxFor(m => m.min_game_time, new {Type = "number", Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.min_game_time, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-3 required">
                    @Html.LabelFor(m => m.max_game_time, new {Class = "control-label"})
                    @Html.TextBoxFor(m => m.max_game_time, new {Type = "number", Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.max_game_time, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 required">
                    @Html.LabelFor(m => m.age_limit, new {Class = "control-label"})
                    @Html.TextBoxFor(m => m.age_limit, new {Type = "number", Class = "form-control"})
                    @Html.ValidationMessageFor(model => model.age_limit, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.image_file)
                    @Html.TextBoxFor(m => m.image_file, new { type = "file", Class = "form-control-file"})
                </div>
            </div>
            <div class="form-group required">
                @Html.LabelFor(m => m.description, new {Class = "control-label"})
                @Html.TextAreaFor(m => m.description, new {Class = "form-control"})
                @Html.ValidationMessageFor(model => model.description, "", new {@class = "text-danger"})
            </div>
            <button type="submit" class="btn btn-primary">Uložit</button>
        }
    </div>
</div>