@using DAISIS.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Publishers</h2>
        <ul>
            @foreach (Games game in ViewBag.Games) {
                <li>
                    <a href='@Url.Action("Show", "Games", new { id = @game.gameID }, Request.Url?.Scheme)'>@game.name</a> - @game.description - @game.create_date
                </li>
            }
        </ul>
    </div>
</div>