@using DAISIS.Models
@{
    ViewBag.Title = "Home Page";

    IEnumerable<Games> games = ViewBag.Games;
    IEnumerable<Publishers> publishers = ViewBag.Publishers;
}

<div class="row">
    <div class="col-12 mt-4">
        <h2 class="mb-5">
            Hry
            <span class="float-right">
                <a href="@Url.Action("Create", "Games", new {}, Request.Url?.Scheme)" class="btn btn-primary">Nová hra</a>
            </span>
        </h2>
        <div class="row">
            @foreach (var game in games)
            {
                var publisher = game.GetPublisher(publishers);
                <li>
                    <a href="@Url.Action("Show", "Games", new {id = @game.gameID}, Request.Url?.Scheme)">@game.name</a> - @publisher.name
                </li>
            }
        </div>
    </div>
</div>