@using DAISIS.Models
@{
    Layout = null;
    int gameId = ViewBag.GameId;
    IEnumerable<User_game_rankings> rankings = ViewBag.Rankings;
}
<div class="row">
    <div class="col-12">
        <h3 class="mb-3">
            Hodnocení hry
            <span class="float-right">
                <a href="@Url.Action("Create", "UserGameRankings", new {id = gameId})" class="btn btn-primary">Nové hodnocení</a>
            </span>
        </h3>
        <ul class="list-group">
            @foreach (var ranking in rankings)
            {
                <li class="list-group-item">
                    <div class="btn-group float-right" role="group">
                        <a class="btn btn-primary" href="@Url.Action("Update", "UserGameRankings", new {id = @ranking.gameID, subId = @ranking.userID})">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" href="@Url.Action("Destroy", "UserGameRankings", new {id = @ranking.gameID, subId = @ranking.userID})">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <p>
                        <a class="btn btn-outline-secondary text-dark disabled text-center" style="min-width: 50px;" aria-disabled="true">
                            <strong>@ranking.rating</strong>
                        </a>
                        <span class="text-muted pl-3"> @ranking.GetUser().username @ranking.create_date.Value.ToString("MM/dd/yyyy")</span>
                        <p>@ranking.text</p>
                    </p>
                </li>
            }
        </ul>
    </div>
</div>